spring:
  sql:
    init:
      mode: never

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true
  data:
    redis:
      host: localhost
      port: 6379

  datasource:
    url: jdbc:h2:mem:testdb
    #url: jdbc:h2:tcp://localhost/~/dgsw22
    #username: sa

  h2:
    console:
      enabled: true
